<h2> Plats del día día! </h2>
<hr>
<h2 class="bg-info">Error - El gráfic no es carrega</h2>
<h3>no en tinc ni idea del per qué</h3>
<p class="bg-warning">ERROR Error: Template error: Can't bind to 'xScale' since it isn't a known property of 'g'.</p>
<h5>En canvi
    <a href="https://firestore-grafic-vote.firebaseapp.com" target="_blank"> aquí sí que funciona</a> </h5> <span style='font-size:100px;'> 🤬🤓</span>





<div class="row ">
    <div class="col">
        <app-grafico-barra-horizontal [results]="juegos"></app-grafico-barra-horizontal>
    </div>
</div>

<!-- <div class="row ">
    <div class="col">
        <app-grafico-barra-vertical [results]="juegos"></app-grafico-barra-vertical>
    </div>
</div> -->