<nav class="navbar navbar-expand-md navbar-dark navbar-principal mt-2">
    <a class="navbar-brand" href="#">
        <img src="assets/img/island.png" width="50" height="50" alt=""> Henry
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home" routerLinkActive="router-link-active">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link disabled" routerLink="/todos" routerLinkActive="router-link-active">Todo </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/myspotify/home" routerLinkActive="router-link-active">MySpotify </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/tinc-gana/home" routerLinkActive="router-link-active">Tinc gana </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/goty/inicio" routerLinkActive="router-link-active">Votar </a>
            </li>

        </ul>


    </div>
</nav>