<div class="border border-3 border-secondary">
    <p class="border border-3 border-secondary">Home works!!!</p>
    <div class="row bg-warning border border-3 border-white ml-1">
        <div class="col border border-danger border-4">
            <div class="card-deck bg-primary border border-white border-4">
                <div class="card bg-info border border-dark border-2">
                    <img src="assets/img/banner-ico.png" class="card-img-top" alt="...">

                    <div class="card-body border border-dark border-4">
                        <h5 class="card-title border border-primary">Home</h5>
                        <p class="card-text border border-primary">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="border border-primary">
                            <!-- <button [routerLink]="['/home']" class="btn btn-outline-secondary">Go Home</button> -->
                            <button routerLink="home" class="btn btn-outline-light"> Go home</button>
                        </div>

                    </div>
                    <div class="card-footer ">
                        <small class="text-muted ">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card bg-info ">
                    <img src="assets/img/noimage.png " class="card-img-top" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">MySpotify</h5>
                        <p class="card-text "> Últimas novedades del catálogo de Spotify en EEUU</p>
                        <p class="card-text "> Selección álbum, búsqueda artistas, escuchar canciones álbum seleccionado.</p>
                        <p class="card-text bg-warning"> <strong>Error:</strong> Al seleccionar un artista del álbum, siempre aparece el primero de la lista Selecciona</p>

                        <div class=" text-left">
                            <button [routerLink]="['/myspotify/home']" class="btn btn-outline-light">Go MySpotify</button>
                            <!-- <button routerLink="/myspotify/home" class="btn btn-outline-secondary ">Go MySpotify</button> -->
                        </div>

                    </div>
                    <div class="card-footer ">
                        <small class="text-muted ">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card bg-info ">
                    <img src="assets/img/banner-ico.png " class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">Card title-3</h5>
                        <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer ">
                        <small class="text-muted ">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>