<div>
    <!-- <p class="border border-3 border-secondary">Home works!!!</p> -->
    <div class="row  p-1">
        <div class="col  p-0">
            <div class="card-columns  p-0">
                <div class="card bg-secondary  p-0">
                    <img src="assets/img/banner-fira2-organya-ico.png" class="card-img-top border border-light" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Home</h5>
                        <p class="card-text">Quina tranquilitat.</p>
                        <div>
                            <!-- <button [routerLink]="['/home']" class="btn btn-outline-secondary">Go Home</button> -->

                            <button [routerLink]="['/home/home']" class="btn btn-outline-primary badge badge-pill bg-dark">Go Home</button>

                        </div>

                    </div>
                    <!-- <div class="card-footer text-primary">
                        <small class="text-white ">Fira Organyá</small>
                    </div> -->
                </div>
                <div class="card bg-secondary ">
                    <img src="assets/img/banner-ico.png" class="card-img-top border border-light" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">MySpotify</h5>
                        <p class="card-text "> Últimas novedades del catálogo de Spotify en EEUU</p>
                        <p class="card-text "> Selección álbum, búsqueda artistas, escuchar canciones álbum seleccionado.</p>
                        <p class="card-text bg-warning"> <strong>Error:</strong> Al seleccionar un artista del álbum, siempre aparece el primero de la lista Selecciona</p>

                        <div class=" text-left">
                            <button [routerLink]="['/myspotify/home']" class="btn btn-outline-primary badge badge-pill bg-dark">Go MySpotify</button>
                            <!-- <button routerLink="/myspotify/home" class="btn btn-outline-secondary ">Go MySpotify</button> -->
                        </div>

                    </div>
                    <!-- <div class="card-footer ">
                        <small class="text-white ">Last updated 3 mins ago</small>
                    </div> -->
                </div>
                <div class="card bg-secondary ">
                    <img src="assets/img/tincgana.png " class="card-img-top border border-light" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">Tinc-gana</h5>
                        <p class="card-text ">Receptes casolanes per sobreviure.</p>

                        <div class=" text-left">
                            <button [routerLink]="['/tinc-gana/home']" class="btn btn-outline-primary badge badge-pill bg-dark">Go Tinc gana</button>
                            <!-- <button routerLink="/myspotify/home" class="btn btn-outline-secondary ">Go MySpotify</button> -->
                        </div>

                    </div>
                    <!-- <div class="card-footer ">
                        <small class="text-muted ">Last updated 3 mins ago</small>
                    </div> -->
                </div>

                <div class="card bg-secondary ">
                    <img src="assets/img/vota.png " class="card-img-top border border-light" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">Vota</h5>
                        <p class="card-text ">Receptes casolanes per sobreviure.</p>

                        <div class=" text-left">
                            <button [routerLink]="['/goty/inicio']" class="btn btn-outline-primary badge badge-pill bg-dark">Go Votar</button>
                            <!-- <button routerLink="/myspotify/home" class="btn btn-outline-secondary ">Go MySpotify</button> -->
                        </div>

                    </div>
                    <!-- <div class="card-footer ">
                        <small class="text-muted ">Last updated 3 mins ago</small>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
</div>