<!-- <nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.png" width="30" height="30" alt="angular logo">
    </a>

    <a class="navbar-brand" href="#">GOTY</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/inicio">Inicio</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/goty">Votar</a>
            </li>


        </ul>
    </div>
</nav>
 -->

<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/vota.png" width="50" height="50" alt="angular logo">
    </a>

    <a class="navbar-brand" href="#">GOTY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/goty/inicio">Inici <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/goty/goty">Votar</a>
            </li>


        </ul>

    </div>
</nav>