<!-- <div class="row">
    <div class="col">
        <div class="d-flex flex-column flex-md-row justify-content-around bd-highlight  text-white  ">
            <footer id="main-footer" class="d-flex justify-content-around">
                <p class="copy">© Clean Free HTML5. All Rights Reserved. </p>
                <p class="author bg-secondary">Created by <a class="red-link" target="_blank" href="http://freehtml5.co/">HENRY</a> Images: <a class="red-link" target="_blank" href="http://pexels.com/">Pexels</a></p>
            </footer>
        </div>
    </div>
</div> -->


<footer id="main-footer" class="d-flex justify-content-around">
    <p class="  copy">© Clean Free HTML5. All Rights Reserved. </p>
    <p class="author ">Created by: <a class=" pointer" target="_blank" href="https://enricsarra.blogspot.com">HENRY</a> </p>
</footer>